# Unity LFS file types
*.a
*.aif
*.aiff
*.asset
*.bin
*.bmp
*.bytes
*.controller
*.dll
*.dds
*.exr
*.fbx
*.gif
*.hdr
*.ico
*.iff
*.jpeg
*.jpg
*.mat
*.mp3
*.ogg
*.otf
*.overrideController
*.pict
*.png
*.prefab
*.psd
*.renderTexture
*.shader
*.tga
*.tif
*.tiff
*.ttf
*.wav
*.unity
*.scenetemplate